@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-lightest: #e6e5e0;
  --color-light: #c5d1dd;
  --color-medium: #a4bcd4;
  --color-dark: #616974;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  padding: 2rem;
}

label {
  font-weight: 500;
}

label::first-letter {
  display: inline-block;
  margin-right: 4px;
  font-size: 1.3rem;
}

input,
select {
  font-family: inherit;
  color: inherit;
  padding: 0.3rem;
  text-align: center;
  border: 1px solid var(--color-light);
  border-radius: 4px;
  transition: 0.3s;
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid var(--color-dark);
}
